*{
    margin:0;
    box-sizing: border-box;
}

@font-face {
    font-family: Gotham-medium;
    src: url(../fonts/Gotham-Medium.otf)
}

@font-face {
    font-family: Gotham-book;
    src: url(../fonts/Gotham-Book-Regular.otf);
}

body{
    height:100%;
    font-family: Gotham-medium;
}

main{
    max-width:438px;
    width:100%;
    padding-top:1px;
    margin:0 auto;
   /*  overflow: hidden; */
    background-image: url(../img/FONDO_XL.png);
    background-position: center;
    background-size: cover;
    /* position:relative; */
    /* border:1px solid red; */
    
}

.backdrop-filter{
    position: fixed;
    top: center;
    left: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(4px);
}
.container{
    width:90%;
    margin:0 auto;
    
}

img{
    display:block;
    max-width:100%;
}

.nav_bar{
    margin:0 auto;
    display:flex;
    /* border: solid 1px red; */
    position:relative;
    justify-content: space-between;
    background-color: #55917C;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
    align-items: center;
    margin-top:4.375rem;
    /* border-radius: 0.625rem; */
    border-radius: 40px;
    padding-top:0.6rem;
    
}

.img-logo{
    padding-top:5px;
}

.btn_menu_hamb{
    border:none;
    background-color: transparent;
    display:block;
    cursor:pointer;
    padding:0px;
}

.dropdown-list{
    position:absolute;
    top:100%;
    border: 1px solid green;
    left:0px;
    display:none;
    flex-direction: column;
    width:100%;
    margin-top:5px;
    align-items: center;
    border-radius: 0.625rem;
    background-color: #55917C;
    gap:10px;
    z-index: 2;
    overflow: visible;
    padding:20px 0px;
    /* backdrop-filter: blur(4px); */
}



.dropdown-item{
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    transition:0.7s ease;
}

.dropdown-item:hover{
    text-decoration: underline;
    color:#CE9EC8;
    
}

.btn-nav{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.show{
    display:flex;
    transition: 0.7 ease;
    
}

.extra-text-hero{
    display:none;
}

@media (min-width:1000px) {
    
    main{
    max-width:1600px;
    }

    .nav_bar{
        background-color:transparent;
        display:flex;
        justify-content: space-between;
        width:90%;
        gap:20px;
       /*  border:1px solid red; */
       margin-top:0px;
       padding-top:2rem;
        
    }
    
    .btn_menu_hamb{
        display:none;
    }

    .dropdown-list{
        display:flex;
        flex-direction: row;
        background-color: transparent;
        position: static;
        justify-content: flex-end;
        gap:20px;
        margin-top:0px;
        border:none;
        color:black;
    }

    .btn-nav{
        display:flex;
        flex-direction: row;
        /* gap:15px; */
    }

    .backdrop-filter{
        display:none;
    }

    .dropdown-item{
        color:black;
        text-transform: capitalize;
    }
}

@media (min-width:1200px) {
    .dropdown-list{
        gap:40px;
    }

    .extra-text-hero{
        display:block;
    }

    .btn-hero{
        display:block;
    }
}

@media (min-width:1400px) {
    .dropdown-list{
        gap:80px;
    }
}




/* Aqui comienza la seccion de hero */

.hero{
    margin:0 auto;
    display:flex;
    flex-direction: column;
}

.texts{
    margin-top: 2.625rem;
    
    display:flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
}

.btn-hero{
    display:none;
}

h1.title{
    font-family: Gotham-medium, sans-serif ;
    font-size: 39px;
    padding-left:10px;
    word-spacing: 0.1em;
    position:relative;
    letter-spacing: 0.5px;
    width: 90%;
    /* border: 1px solid red; */
}



h1.title::before{
    content:"";
    /* display:inline-block; */
    background-image: url(../img/arrow_rose.png);
    
    background-repeat: no-repeat;
    height:35px;
    width:51.54px;
    position:absolute;
    top:-30px;
    left:75%;

    /* border:1px solid red; */
}

span.rose_line_1{
    /* display:inline-block; */
    width:180px;
    height:12px;
    background-image: url(../img/linea_rose_1.png);
    background-repeat: no-repeat;
    top:42px;
    position: absolute;
    /* border:1px solid red; */
}

span.rose_line_2{
   /*  display:inline-block; */
    width:110px;
    height:20px;
    background-image: url(../img/linea_rose_2.png);
    background-repeat: no-repeat;
    top:90px;
    position: absolute;
    

}

.sub-title{
    /* align-self: center; */
    text-align: center;
   /*  border: solid 1px red; */
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    /* max-width:360px; */
    width:88%;


}

.hero-img-container{
    margin-top:32px;
}

.app-button{
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
}

.app-button figure img{
    width: 135px;
}

/* Aqui comienza la seccion 2 */

.second-part{
    /* margin:0 auto; */
    margin-top: 110px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

h2.second-part-h2{
    font-size: 2.5rem;
    padding-left:10px;
    letter-spacing: 0.5px;
    text-align: center;
    position:relative;
}

.rose_line_3{
    /*  display:inline-block; */
    width:110px;
    height:20px;
    background-image: url(../img/linea_rose_2.png);
    background-repeat: no-repeat;
    top:40px;
    position: absolute;

}



.container-second-text p{
    margin:37px auto 0px auto;
    font-size:0.75rem;
    font-weight: 500;
    text-align: center;
    /* width:268px; */
    padding: 0px 40px;

}

.aditional-text{
    display:none;
}

.second-part figure{
    margin-top:28px;
}

.sub-section-2{
    position:relative;
    /* border:1px red solid; */
}

.arrow-green{
    width:58px;
    position:absolute;
    bottom:20%;
    left:50%;
}

.extratext{
    font-family: Gotham-book;
    font-size: 14px;
    color:#1A806B;
    width:112px;
    text-align: right;
    text-transform: uppercase;
    margin-top:40px;
    margin-left:60%;
                                                
}

.btn-sec2{
    margin:0 auto;
    margin-top: 45px;

}

/* .bg-1{
    background-image: url(/img/FONDO_XL.png);
    background-position: center;
    background-size: cover;
    
} */

/* Inicio de la seccion 3 de la landing */
.third-part{
    margin-top: 45px;
    display:flex;
    flex-direction: column;
}
.text-third-part{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    position:relative;
}
.text-third-part h2{
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.5px;
    /* max-width:350px; */
    width:100%;
    margin-bottom:35px;
    line-height: 55px;
}

.circle-img{
    display:block;
    background-image: url(../img/circle_text.svg);
    position:absolute;
    width:137px;
    height:49px;
    left:11%;
}

.list-ventajas {
    list-style-type: none;
    position:relative;
    padding:0px;
    font-size: 12px;
}

.list-ventajas li{
    margin-bottom:12px;
    padding-left:30px;
}

.list-ventajas :last-child{
    margin-bottom:40px;
}

.list-ventajas li::before{
    content:"";
    display:inline-block;
    width:15px;
    height:15px;
    background-image: url(../img/ESTRELLA.png);
    margin-right: 5px;
}

.btn-sec-3{
    margin-top:10px;
    display:block;
    margin:15px auto 0px auto;
}

/* comienzo de la seccion 4 */
.bg-4{
    background-image: url(../img/bg-2-blue.png);
    background-repeat: no-repeat;
    background-size: auto;
    padding-top:60px;
    margin-top:40px;
    background-position: 18% top;
    
}

.text-sec-4{
    padding:0 25px;
}
.text-sec-4 h2{
    font-size: 2.5rem;
    margin-bottom:10px;
    color: white;
}
.text-sec-4 h2 span{
    color: #CE9EC8;
}

.text-sec-4 p{
    line-height: 30px;
    color: white;
    font-size:0.75rem;
    margin-bottom: 40px;
}

.subsec-4-flex{
    display:flex;
}

.sub-sec4-div{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap:30px;
}

.sub-sec4-div p{
    font-family: Gotham-book;
    font-size: 0.75rem;
    color:#CD9EC9;
    margin-top: 40px;
}

.sub-sec4-div button{
    display:block;
    margin:0 auto;
}


/* Ultima seccion footer y demas quiero hacer mas efectos CSS y cositas con JS */

.bg-3 {
    background-image: url(../img/bg-3-green.png);
    /* height:1300px; */
    /* border: 1px solid greenyellow; */
    background-position: center bottom;
    display:flex;
    flex-direction: column;
    padding:15px;
}

a {
    display:block;
    color:white;
    text-decoration: none;
}

h3{
    color:#CE9EC8;
    font-size: 15px;
    text-transform: uppercase;
    padding:10px 0px;
}

.sec-logo-footer{
    margin-top:30px;
    display:flex;
    flex-direction: column;
    gap:5px;
}

.sec-logo-footer img{
    width:80px;
    height:60px;
    margin-bottom:10px;
}

.elements-footer{
    line-height: 30px;
}

@media (min-width:1000px) {
    
    main{
    max-width:1600px;
    }

    .nav_bar{
        background-color:transparent;
        display:flex;
        justify-content: space-between;
        width:90%;
        gap:20px;
       /*  border:1px solid red; */
       margin-top:0px;
       padding-top:2rem;
        
    }
    
    .btn_menu_hamb{
        display:none;
    }

    .dropdown-list{
        display:flex;
        flex-direction: row;
        background-color: transparent;
        position: static;
        justify-content: flex-end;
        gap:20px;
        margin-top:0px;
        border:none;
        color:black;
    }

    .btn-nav{
        display:flex;
        flex-direction: row;
        /* gap:15px; */
    }

    .backdrop-filter{
        display:none;
    }

    .dropdown-item{
        color:black;
        text-transform: capitalize;
    }
}

@media (min-width:1200px) {
   /*  Aqui comienza la parte Hero */
    
    .dropdown-list{
        gap:40px;
    }



    .btn-hero{
        display:block;
    }

    .hero{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 86vh;
        margin-top:30px;
    }

    .texts{
        width:40%;
        justify-content: space-evenly;
        gap:20px;
    }

    .texts p{
        text-align: left;
        margin:0 auto;
        font-size: 12px;
        line-height: 25px;
    }

    h1.title::before{
        display:none;
    }

    .extra-text-hero{
        display:block;
    }

    .hero-img-container{
        width:50%;
        margin-left:auto;
    }

    .app-button{
        margin-top:0px;
        width:90%;
        /* margin-top:15px; */
        justify-content: right;
    }

    .google-btn{
        padding-right: 20px;
    }

    /* Inicio de la segunda seccion web */

    .second-part{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-top:0px;
    }

    .container-second-text{
        order:2;
        width:50%;

    }

    .img-container-second-section{
        order:1;
        width:50%;
        
    }

    .sub-section-2{
        order:3;
        margin:0 auto;
    }

    .extratext{
        width:80%;
    }

    .arrow-green{
        top: 10px;
    }

    .btn-sec2{
        display:block;
        order:4;
        width:200px;
        margin-top:-30px;
    }

    /* Inicio Tercera section web */
    .third-part{
        flex-direction: row;
        margin-top:90px;
        flex-wrap: wrap;
    }

    .text-third-part{
        width:50%;
    }

    .circle-img{
        left:5%;
    }

    .list-ventajas{
        margin:0 50px;
    }

    .img-sec3-figure{
        width:50%
    }

    .container-btn-sec3{
        width:50%;
        height: 100px;
        margin-top: -115px;
        z-index: 1;
    }
    .btn-sec-3{
        width:171px;
        height: 40px;
}

    /* Seccion 4 landing */

    .bg-4{
        background-image: url(../img/bg-3blu-web.png);
        background-size: cover;
        height:100%;
        background-position: 0 0;
    }


    
    .section-4{
        display:flex;
        flex-wrap: wrap;
        align-items: center;

    }

    .text-sec-4{
        order:2;
        width:50%;
        margin-top:15%;
    }

    .section-4 figure{
        width:50%;
        order:1;
        padding-top:10%;
        
        
    }

    .subsec-4-flex{
        order:3;
    }

    .movil-img{
        display:none;
    }
   .sub-sec4-div{
    flex-direction: row;
    justify-content: end;
   }

   .item:not(:first-child){
    margin-left:20px;
   }
 
    /* Aqui haria el footer */

    .footer{
        display:flex;
        flex-direction: row;
    }

    .sec-logo-footer{
        margin-left:10%;
    }

    .elements-footer{
        display:flex;
        flex-direction: row;
        gap:80px;
    }
}

@media (min-width:1400px) {
    .dropdown-list{
        gap:80px;
    }

    .texts p{
        font-size: 15px;
}
}